
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row{
    width: 480px;
    border: 1px #283618 solid;
    display: flex;
    flex-direction: row;
}
.square{
    border: 1px solid #283618;
}

.square:hover{
    background-color: #606C38;
    cursor: pointer;
}

