
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    width: 480px;
    height: 30px;
    border: 1px red solid;
    display: flex;
    flex-direction: row;
}
.square{
    height: 30px;
    width: 30px;
    border: 1px solid red;
}